<%= link_to t(".create_todo"), new_todo_path %>

<ul class="todos">
  <% @todos.each do |todo| %>
    <li class="<%= todo.complete? ? "completed" : "" %>">
      <%= todo.title %>
      <%= button_to t(".mark_complete"), todo_completion_path(todo) %>
    </li>
  <% end %>
</ul>
